article {
  @extend .grid;
  overflow: hidden;
  background: white;
  section {
    height: 100%;
    &.one_cl {
      width: 100%;
    }
    &.two_cl {
      width: 50%;
      float: left;
    }
  }
  &.last-news {
    background: #f0f0f0;
    h2.title_news {
      @extend .title_format;
    }
    section {
      width: 100%;
      height: inherit !important;
      margin: 0 auto;
      ul {
        padding: 0 0 10% 0;
        overflow: hidden;
        li {
          width: 22%;
          padding: 25px 0;
          background: white;
          float: left;
          margin: 0 1.5%;
          h3, p {
            width: 90%;
            margin: 0 auto;
          }
          h3 {
            padding: 0 0 5% 0;
            font-size: 2em;
            a {
              color: $gdark;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          p {
            font-size: 1.5em;
            padding: 2% 0;
            line-height: 1.5em;
            color: $glight;
            span.date {
              color: $glight;
              font-size: 0.9em;
              font-style: italic;
              display: block;
            }
            a {
              color: $gdark;
              text-decoration: none;
              border-bottom: 2px solid $glight;
              font-style: italic;
              &:hover {
                border-bottom: 2px solid $gdark;
                color: $gdark;
              }
            }
          }
        }
      }
    }
  }
  &.welcome {
    height: 100%;
    background: transparent url('../img/welcome.jpg') center no-repeat fixed;
    h1, p {
      width: 90%;
      margin: 0 auto;
      max-width: 600px;
      text-align: center;
    }
    h1 {
      font-weight: 500;
      margin-top: 15%;
      font-size: 6em;
      @extend .flash_vertical;
      &::first-letter {
        letter-spacing: -10px;
      }
      a {
        color: white;
        text-decoration: none;
        span {
          padding: 0;
          margin: 0;
          letter-spacing: -5px;
          color: $corporative;
        }
      }
    }
    p {
      padding: 5% 0;
      color: white;
      font-size: 4em;
      font-weight: 100;
      @extend .flash;
      a {
        &.readmore {
          width: 100%;
          max-width: 120px;
          margin: 0 auto;
          display: block;
          border: 2px solid white;
          font-weight: 300;
          color: white;
          padding: 15px 55px;
          font-size: 0.5em;
          text-decoration: none;
          opacity: 0.7;
          box-sizing: content-box;
          @extend .t;
          @extend .rad_small;
          &:hover {
            opacity: 1
          }
        }
      }
    }
  }
  &.showcases {
    overflow: hidden;
    h2 {
      @extend .title_format;
    }
    section {
      width: 33%;
      float: left;
      height: auto;
      background: $gdark;
      color: white;
      position: relative;
      .experience-quote {
        width: 90%;
        bottom: 0;
        left: 5%;
        position: absolute;
        p {
          font-style: italic;
          text-align: center;
          padding: 20px;
          font-size: 2em;
          line-height: 28px;
          font-family: Georgia, serif;
          span {
            display: block;
            padding-top: 5px;
            font-family: sans-serif !important;
            font-size: 0.6em;
            a {
              color: white;
            }
          }
        }
      }
      img {
        max-width: 100%;
        opacity: 0.2;
        height: auto;
      }
    }
  }
  &.why {
    section {
      padding: 5% 0;
      height: inherit !important;
    }
    h2.title_why {
      @extend .title_format;
    }
    ul {
      overflow: hidden;
      padding-bottom: 10%;
      li {
        width: 25%;
        height: 40%;
        margin: 2% 0;
        float: left;
        span {
          &.icon {
            display: block;
            width: 125px;
            height: 125px;
            margin: 0 auto;
            background: transparent url('../img/icon.png') no-repeat;
          }
          &.support {
            background-position: -428px -16px;
          }
          &.directed {
            background-position: -21px -16px;
          }
          &.challeng {
            background-position: -156px -16px;            
          }
          &.talent {
            background-position: -292px -16px;
          }
        }
        h3, p {
          text-align: center;
          @extend .grid_content;
        }
        h3 {
          color: $gdark;
          padding: 5% 0;
          font-size: 3em;
        }
        p {
          font-size: 1.9em;
          line-height: 1.6em;
          color: $glight;
        }
      }
    }
  }
  &.colaboradores {
    padding: 5% 0;
    section {
      height: auto;
      h4 {
        font-size: 1.3em;
        text-transform: uppercase;
        padding: 2% 0;
        letter-spacing: 1px;
        color: $glight;
        text-align: center;
        font-weight: 300;
      }
      ul {
        @extend .grid_content;
        text-align: center;
        overflow: hidden;
        li {
          display: inline-block;
          a {
            text-indent: -9999px;
            text-decoration: none;
            display: block;
            opacity: 0.6;
            @extend .t;
            &:hover {
              opacity: 0.8;
            }
            &.colabora {
              width: 220px;
              height: 99px;
              background: transparent url('../img/colaboradores.png') no-repeat;
            }
            &.code {
              background-position: -311px -9px;
            }
            &.tetuan {
              background-position: -609px -6px;
            }
            &.lanave {
              background-position: -18px -6px;
            }
            &.coontigo {
              background-position: -889px -6px;
            }
            &.googlecampus {
              background-position: -1203px -6px;
            }
            &.madridemprende {
              background-position: -1526px -6px;
            }
          }
        }
      }
    }
  }
  &.decoration {
    h2, p {
      z-index: 2;
      @extend .grid_content;
    }
    h2 {
      padding-top: 20%;
      font-size: 3em;
      letter-spacing: -1px;
    }
    p {
      padding-top: 5%;
      font-weight: 300;
      color: $glight;
      line-height: 1.5em;
      font-size: 2em;
      a {
        display: block;
        text-align: center;
        max-width: 250px;
        color: white;
        background: $corporative;
        text-decoration: none;
        border: 1px solid $corporative;
        padding: 15px 0;
        @extend .rad_small;
        @extend .t;
        &:hover {
          background: #75A611;
          border: 1px solid #75A611;
          color: white;
        }
      }
    }
    section {
      &.bck_image {
        z-index: 1;
        text-indent: -99999px;
        min-height: 100%;
        display: block;
        background: #f0f0f0;
      }
      &.book {
        background: transparent url('../img/book.jpg') left no-repeat fixed;
      }
      &.table {
        background: transparent url('../img/table.jpg') right center no-repeat fixed;
      }
    }
  }
  &.partners {
    color: white;
    text-align: center;
    padding-bottom: 100px !important;
    background: $gdark;
    a.link-partner {
      color: #6d6d6d;
      font-size: 2em;
      @extend .t;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
    section {
      height: inherit !important;
    }
    h2.title_partner {
      @extend .title_format;
      color: white;
    }
    ul {
      padding-bottom: 100px;
      text-align: center;
      overflow: hidden;
      li {
        width: 200px;
        display: inline-block;
        margin: 0 5px;
        a {
          &.sprite_partners {
            display: block;
            width: 218px;
            height: 90px;
            margin: 0 auto;
            text-indent: -99999px;
            background: transparent  url('../img/partners.png') no-repeat;
            opacity: 0.6;
            @extend .t;
            &:hover {
              opacity: 1;
            }
          }
          &.cartodb {
            background-position: 9px -24px;
          }
          &.traity {
            background-position: -192px -22px;
          }
          &.shuttlecloud {
            background-position: 9px -131px;
          }
          &.people {
            background-position: 9px -231px;
          }
          &.guud {
            background-position: -192px -126px;
          }
          &.lextrend-home {
            background-position: -186px -234px;
          }
        }
      }
    }
  }
  &.faq {
    padding: 5% 0 10% 0;
    h2.title_faq {
      @extend .title_format;
    }
    section {
      height: auto !important;
      h4, p {
        padding: 2% 0;
        @extend .grid_content;
      }
      h4 {
        margin-top: 5%;
        font-size: 2.4em;
        font-weight: 400;
      }
      p {
        color: $glight;
        line-height: 1.8em;
        font-size: 1.5em;
      }
    }
  }
}