
$glight: #6d6d6d;
$gdark: #1d1919;
$corporative: #6DD053;
$inputform: #474545;

.t {
	-webkit-transition: 0.2s ease-in;  
	-moz-transition: 0.2s ease-in;  
	-o-transition: 0.2s ease-in;  
	transition: 0.2s ease-in;
}                          

/* general grid */

.grid {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

/* content grid */

.grid_content {
  width: 70%;
  margin: 0 auto;
}

/* style titles */

.title_format {
  width: 90%;
  margin: 0 auto;
  color: $gdark;
  font-weight: 400;
  padding: 5% 0;
  clear: both;
  font-size: 3.5em;
  letter-spacing: -1px;
  text-align: center;
  span {
    padding-top: 1%;
    display: block;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 0.6em;
    color: $glight;
    a {
      color: $glight;
      @extend .t;
      &:hover {
        color: $gdark;
      }
    }
  }
}

/* Radius */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

.rad_small {
	@include border-radius(4px);
}